# Never commit game data, disc images, saves or BIOS files.
*.iso
*.bin
*.cue
*.img
*.mdf
*.mds
*.ccd
*.sub
*.chd
*.pbp
*.mcd
*.mcr
*.mc
*.srm
*.sav
*.psv
*.vmp
*.MRG
*.mrg
*.exe
*.zip
*.rar
*.7z
SLUS_*
SCUS_*
SLES_*
SCES_*
SLPS_*
scph*
*bios*
BIOS*
dumps/
*.partial

# Python / build
.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
build/
dist/
.pytest_cache/
